.Header {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Full screen height */
    overflow: hidden;
    /* Hide any overflow */
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the video covers the entire background */
    z-index: -1;
    /* Send the video behind the content */
}



/* New centered text styling */
.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}

.centered-text h1 {
    font-family: 'Athelas', serif;
    font-weight: 400;
    width: 100%;
    font-size: 26px;
    line-height: 35.88px;
    letter-spacing: 0.01em;
    text-align: center;
    color: white;
    /* transform: translate(-50%, -50%); */
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: 30%;
    /* Adjust the space between the centered text and profile section */
}

.profile-picture {
    width: 60px;
    /* Set a width for the profile picture */
    height: 60px;
    /* Set a height for the profile picture */
    border-radius: 50%;
    /* Makes the image circular */
    object-fit: cover;
}

.profile-text {
    text-align: center;
}

.small-font {
    font-family: Plus Jakarta Sans;
    font-size: 11.32px;
    font-weight: 400;
    line-height: 17.77px;
    color: white;
    letter-spacing: 0.01em;
    text-align: center;

}

.large-font {
    font-family: Plus Jakarta Sans;
    font-size: 15.32px;
    color: white;
    font-weight: 700;
    line-height: 17.77px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-top: -10px;
}

.button-section {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    /* Smooth transition for position changes */
    position: fixed;
    bottom: 5%;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
}

.contact-button {
    display: flex;
    align-items: center;
    background-color: rgba(60, 66, 67, 1);
    border: none;
    padding: 8px 16px;
    gap: 16px;
    border-radius: 54.36px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.5s ease, bottom 0.5s ease-in-out, right 0.5s ease-in-out;
    /* Smooth background, transform, bottom, and right transitions */
}

.contact-button.scrolled {
    bottom: -100px;
    /* Animate to this bottom position smoothly */
    right: -190px;
    /* Animate to this right position smoothly */
    /* Reset horizontal translation */
    transform: translateX(90%);
    /* transform: translateY(-10%); */
    transition: bottom 0.5s ease-in-out, right 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.contact-button:hover {
    background-color: #b29a60;
    transform: scale(1.05);
    /* Slight scale effect on hover */
}

.icon {
    font-size: 15px;
    color: #beb3a0;
}

.line {
    width: 2px;
    height: 30px;
    background-color: white;
    margin: 0 15px;
}

.info-section {
    display: flex;
    /* Use flexbox for alignment */
    align-items: center;
    /* Center align items */
    justify-content: center;
    /* Center the items horizontally */
    margin-top: -5px;
    /* Space above the info section */
}

.small-number {
    font-size: 14px;
    /* Set the font size */
    color: white;
    /* Change the text color to white */
}

.cloud-icon {
    margin: 0 5px;
    /* Space between the number and icon */
    font-size: 20px;
    /* Set the icon size */
    color: white;
    /* Change icon color to match text */
}