.sidebar {
    width: 3.5rem;

    background-color: white;
    height: 100vh;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    border-right: black 1px solid;
    transition: width 0.3s ease;
}

.sidebar.extended {
    width: 12rem;

}

.toggle-btn {
    background: #3b3b3b;
    color: white;
    border: none;
    cursor: pointer;
    margin: 1rem;
    font-size: 1.5rem;
}

.sidebar-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;
}

.sidebar-item:hover {
    background-color: #6b6b6c;
}

.sidebar-item:active {
    background-color: #5e5eef;
}

.hidden-radio {
    display: none;
}

.icon {
    fill: white;
    transition: fill 0.3s ease;
}

.icon-active {
    fill: #3b82f6;

}